<ion-content>
  <ion-grid style="height: 100%; display: flex;">
    <ion-row class="ion-align-items-center" style="width: 100%;">
      <ion-col>
        <div class="ion-text-center">
          <h1>Memory Game</h1>

          <ion-button [routerLink]="['/gaming-stage']" class="play-button__animation" color="primary"
                      size="large" expand="expand" shape="round">
            Start Game
            <ion-icon name="play" slot="end"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
